.homepage-main-sec{
background: url("https://img.freepik.com/free-photo/girl-sportswear-rocks_169016-3321.jpg?t=st=1656393372~exp=1656393972~hmac=41e918eb9c45652577d64c5440841fe0d83f1a5c4643bbdf72c75019ebec88ff&w=1060");
height: 100vh;
width: 100vw;
background-repeat: no-repeat;
background-size: cover;
}