.archive-cont{
      display: flex;
      width: 100%;
      height: 100%;
}
.archive-sec{
      width: 80%;
      font-size: 2rem;
      display: flex;
      align-items: center;
      justify-content: center;
}
.archive-listing-cont{
      margin-left: 4rem;
}